<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Ballot Information</title>
	</head>
	<body>
		<div class="flex flex-col pb-24 bg-white">
			<div
				class="justify-center items-start py-2 pr-16 pl-52 w-full text-3xl font-medium tracking-tight text-white bg-red-500 leading-[72px] max-md:pr-5 max-md:pl-8 max-md:max-w-full"
			>
				Live Local Voter
			</div>
			<div
				class="flex flex-col self-center px-5 mt-14 w-full max-w-[1136px] max-md:mt-10 max-md:max-w-full"
			>
				<div
					class="self-start text-5xl tracking-tighter text-black leading-[72px] max-md:max-w-full max-md:text-4xl max-md:leading-[67px]"
				>
					November 7, 2023 Municipal Election
					<br />
					<span class="text-2xl tracking-tight">
						Your Address: 665 Commonwealth Ave, Boston, MA 02215
					</span>
					<br />
				</div>
				<div
					class="justify-center items-start py-3.5 pr-16 pl-4 mt-11 text-3xl font-bold tracking-tight leading-8 text-black whitespace-nowrap bg-zinc-300 max-md:pr-5 max-md:mt-10 max-md:max-w-full"
				>
					City Council District 5
				</div>
				<div
					class="flex flex-col py-2 text-black bg-blue-100 max-md:max-w-full"
				>
					<div
						class="text-2xl font-bold tracking-tight leading-[71.94px] max-md:max-w-full"
					>
						Key decisions made by this position:
					</div>
					<ul
						class="px-2 list-disc list-inside text-xl tracking-tight leading-relaxed max-md:max-w-full"
					>
						<li>Allocate funds and prioritize projects for roads,
							bridges, parks, and other infrastructure</li>
						<li>Pass laws and set priorities for law enforcement and
						social service programs</li>
						<li>Approve or deny land development projects and urban
						planning initiatives</li>
					</ul>
				</div>
				<div class="mt-6 max-md:max-w-full">
					<div
						class="flex gap-5 max-md:flex-col max-md:gap-0 max-md:"
					>
						<div
							class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full"
						>
							<div
								class="flex flex-col grow max-md:mt-10 max-md:max-w-full"
							>
								<div
									class="text-2xl font-bold tracking-tight leading-9 text-black max-md:max-w-full"
								>
									Candidate #1: Enrique Pepen
									<img src="https://cdn.grove.wgbh.org/dims4/default/e637bd5/2147483647/strip/true/crop/293x384+27+0/resize/275x360!/quality/90/?url=https%3A%2F%2Fk1-prod-gbh.s3.us-east-2.amazonaws.com%2Fbrightspot%2Fmedia%2Fspeaker_images%2FEnriquePepen.png" class="h-[200px]">
								</div>
								<div
									class="mt-2 text-lg tracking-tight leading-8 text-black text-opacity-80 max-md:max-w-full"
								>
									What the candidate is saying:
									<br />
									<ul class="mb-4 px-2 list-disc list-inside">
										<li>Expand the city’s fare free bus program</li>
										<li>Bring back rent control</li>
									</ul>
									What the candidate has done in the past:

									<ul class="px-2 list-disc list-inside">
										<li>
											Executive director at Boston’s Office of
											Neighborhood Services
										</li>
									</ul>
								</div>
								<div
									class="justify-center self-start px-6 py-2 mt-6 text-base font-medium tracking-tight text-center text-sky-500 whitespace-nowrap bg-white rounded-md border border-solid border-[color:var(--Actionable-Item,#18A0FB)] max-md:px-5"
								>
									Contact
								</div>
							</div>
						</div>
						<div
							class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full"
						>
							<div
								class="flex flex-col grow max-md:mt-10 max-md:max-w-full"
							>
								<div
									class="text-2xl font-bold tracking-tight leading-9 text-black max-md:max-w-full"
								>
									Candidate #2: Jose Luiz
									<img class="h-[200px]" src="https://static.wixstatic.com/media/880220_88e1b3833e204273b0ddd4971c352ace~mv2.png/v1/fill/w_640,h_520,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/880220_88e1b3833e204273b0ddd4971c352ace~mv2.png" height="200">
								</div>
								<div
									class="mt-2 text-lg tracking-tight leading-8 text-black text-opacity-80 max-md:max-w-full"
								>
									What the candidate is saying:
									<br />
									<ul class="mb-4 px-2 list-disc list-inside">
										<li>Expand city’s first-time home buyer program</li>
										<li>Does NOT support rent control</li>
									</ul>
									What the candidate has done in the past:

									<ul class="px-2 list-disc list-inside">
										<li>
											Retired Boston police officer
										</li>
									</ul>
								</div>
								<div
									class="justify-center self-start px-6 py-2 mt-5 text-base font-medium tracking-tight text-center text-sky-500 whitespace-nowrap bg-white rounded-md border border-solid border-[color:var(--Actionable-Item,#18A0FB)] max-md:px-5"
								>
									Contact
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
